---
title: How the DCS works
weight: 2
last_reviewed_on: 2020-02-27
review_in: 6 weeks
---

# How the DCS works

The Document Checking Service (DCS) acts as an interface between your service and HM Passport Office.

<%= image_tag "dcs-overview.svg", { :alt => '' } %>

1. Your service sends a passport check request to the DCS.
2. The DCS validates the request and sends it to HM Passport Office.
3. HM Passport Office checks the passport data against their database and sends a response back to the DCS.
4. The DCS sends the response to your service.

## Integrating with the DCS API

It's up to you to decide which programming language your client uses.

*New section. Should intro: "To join the DCS, you will follow these topline steps" (and then include numbers list of all H1s in the documentation"*

This documentation explains [how the DCS works][how-dcs-works] and provides step by step guidance on how to:

+ [generate keys and request certificates for your DCS connection][keys-and-certificates]
+ [set up a mutual TLS connection to DCS][mutual-tls-to-dcs]
+ [sign and encrypt a DCS payload][sign-and-encrypt]
+ [handle responses from the DCS][handle-dcs-responses]

<h2 id="mutual-authentication">Mutual authentication</h2>

Mutual authentication secures the messages your client exchanges with the DCS. This is implemented using client certificates over Transport Layer Security (TLS) Protocol Version 1.2.

You must [generate a private key and certificate signing request](/generating-keys-and-csrs) to obtain your mutual authentication certificate.

## Getting access to production

You'll need to successfully complete a full journey in the test environment before you can get access to the production environment.

You'll need a different set of keys and certificates for your production connection.

Contact the [DCS pilot helpdesk](/support) if you're ready to request access to production.

<%= partial "partials/links" %>
