---
title: Status response codes
weight: 6
last_reviewed_on: 2020-04-07
review_in: 6 weeks
---

# Status response codes

The Document Checking Service (DCS) uses standard [HTTP response code][HTTP-Status-Code] conventions.

| HTTP response code | Description                            |
| ------------------ | -------------------------------------- |
| 200                | The DCS handled your request successfully. |
| 403                | You have used up [your quota of DCS checks][quotas] and are no longer permitted to make DCS checks.
| 404                | The DCS URI is incorrect.              |
| 429                | You have exceeded your total allocated number of API calls or your rate limit. <p>The [`Retry-After`][Retry-After] HTTP header specifies how many seconds you should wait before retrying.</p> |
| 503                | The DCS is temporarily unavailable because of high traffic. <p>The [`Retry-After`][Retry-After] HTTP header specifies how many seconds you should wait before retrying.</p> |
| 5xx                | There is an internal server error. |

Note that the `HTTP 200` response code means the DCS handled your request successfully. It does not confirm whether the passport is valid or not. Likewise, an `HTTP 200` does not necessarily mean that the DCS is operational.

<%= partial "partials/links" %>
